<div class="main">
    <div class="form-holder">
        <div class="form">
            <form [formGroup]="addDivisionForm" (ngSubmit)="formSubmission()">
                <h5>Enter new subdivision details</h5>
                <div class="row">
                    <div class="mt-2">
                        <label>Country code</label>
                        <input type="text" class="form-control mt-2" formControlName="countryCode">
                    </div>
                    <div class="mt-2">
                        <label>Subdivision code</label>
                        <input type="text" class="form-control mt-2" formControlName="subdivisionCode">
                    </div>
                    <div class="mt-2">
                        <label>Subdivision Name</label>
                        <input type="text" class="form-control mt-2" formControlName="subdivisionName">
                    </div>
                    <div class="mt-2">
                        <label>is Active</label>
                        <div>
                            <select class="form-control mt-2" [(ngModel)]="activeSelection" [ngModelOptions]="{standalone: true}">
                                <option>active</option>
                                <option>In-active</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <button class="mt-2 btn btn-dark btn-sm px-4">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>